<!doctype html>
<html lang="en">
  {{ partial "photo-head.html" . }}


  <body class="surface on-surface-text">
    {{ partial "header.html" }}


    <main class="px-6 md:px-12 mb-32 max-w-screen-2xl mx-auto">
      <div class="my-16 my-64">
        <h1 class="display-large">{{ .Params.header }}</h1>
        <p class="headline-medium">
          {{ .Params.subheader }}
        </p>
      </div>

      {{ if .Content }}
        <div>
          {{ .Content }}
        </div>
      {{ end }}


      <div>
        <picture>
          {{ range .Params.sources }}
            <source type="{{ .type }}" srcset="{{ delimit .srcset ", " }}" />
          {{ end }}
          <img
            src="{{ .Params.src }}"
            alt="{{ .Params.alt }}"
            class="mx-auto max-w-full max-h-[90vh] rounded-lg"
          />
        </picture>
      </div>
    </main>

    {{ partial "footer.html" }}
  </body>
</html>
