<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}


  <body class="surface on-surface-text">
    {{ partial "header.html" }}


    <main class="px-6 md:px-12 mb-32 max-w-screen-2xl mx-auto">
      <div class="my-64">
        <h1 class="display-large">Experience</h1>
        <p class="headline-small">My work experience and resume</p>
      </div>

      <div class="surface-container-high rounded-[32px] p-6 md:p-12">
        <h2 class="display-small">Syniti</h2>

        <h3 class="headline-small mt-6">Software Engineer III</h3>

        <div class="!font-light body-large on-surface-variant-text inline-flex">
          <span>Mar 2025 - Present</span>
        </div>

        <p class="body-large mt-4">
          As a Software Engineer III on the core platform team, I led the effort
          to optimize queries from the graph database by over 95%, solving
          ongoing service stability and performance issues; and developed code
          AST transformations to modernize over 150k lines-of-code for frontend
          and backend services.
        </p>
        <p class="body-large mt-4">
          A key service in the
          <a
            href="https://www.syniti.com/solutions/data-governance/"
            class="primary-text underline hover:secondary-text"
          >
            Syniti Data Governance Platform (SKP)</a
          >
          was suffering from performance issues related to the graph database
          that didn&apos;t support compound indexes. To solve this issue while
          working around the limitations of the database, I developed a compound
          indexing scheme for the database, which resulted in a reduction of
          query latency by over 95%. The custom index dramatically improved
          service performance, directly resolving the DevOps team&apos;s
          vertical scaling challenges.
        </p>
        <p class="body-large mt-4">
          As the team&apos;s codebase has expanded to over a million
          lines-of-code, I introduced tooling and scripts for automated code AST
          transformations to increase developer productivity and simplify
          dependency upgrades across dozens of services. The largest code
          transformation I wrote restructured the Typescript type generation for
          GraphQL clients, saving ~100k lines-of-code in work. Overall, my
          initiative to bring automated tooling to the code maintenance process
          has saved months of engineering hours that would have been dedicated
          to refactoring code by hand.
        </p>
        <p class="body-large mt-4">
          Additionally, I worked closely with the team to provide code reviews,
          feedback on system designs, and mentoring for new software engineers.
        </p>

        <h3 class="headline-small mt-6">Software Engineer II</h3>

        <div class="!font-light body-large on-surface-variant-text inline-flex">
          <span>Jan 2024 - Mar 2025</span><span class="px-2">•</span
          ><span>1 yr 3 mos</span>
        </div>

        <p class="body-large mt-4">
          As a Software Engineer II on the core platform team, I led the
          development of the Uptime Monitoring service, a collector of service
          uptime statistics for SLAs, and the UI component refactor to modernize
          our old NextJS frontend.
        </p>
        <p class="body-large mt-4">
          The Uptime Monitoring service collects uptime statistics and reports
          them to the central Prometheus database for SLA reporting and downtime
          tracking. Currently, the Go service collects data from the over 40
          services and is used in all 6 cloud regions. Additionally, these
          statistics are used to measure our uptime for customers and auditors.
        </p>
        <p class="body-large mt-4">
          The UI component evaluation was the groundwork to plan and estimate
          the work and man-hours required to migrate away from an unmaintained
          component library. This project was critical in the effort to
          modernize the NextJS frontend. I reviewed several leading open source
          UI frameworks and component libraries to aid senior engineers and
          management&apos;s decisions on the future direction of components in
          the UI.
        </p>
        <p class="body-large mt-4">
          For my professional growth, I assumed ownership of the graph
          processing and indexing services, providing support for customers and
          API consumers, maintaining dependencies, and giving guidance to other
          engineers that were implementing new features in the services. In this
          new role, I developed features to connect data quality results from
          the data quality team to the graph indexing service.
        </p>
        <p class="body-large mt-4">
          Additionally, I worked closely with the team to provide code reviews,
          feedback on system designs, and mentoring for new software engineers.
        </p>

        <h3 class="headline-small mt-6">Cloud Software Engineer</h3>

        <div class="!font-light body-large on-surface-variant-text inline-flex">
          <span>Jun 2022 - Jan 2024</span><span class="px-2">•</span
          ><span>1 yr 8 mos</span>
        </div>

        <p class="body-large mt-4">
          As a Cloud Software Engineer on the core platform team, I led the
          development of a Visual SQL Query Builder, a feature for non-technical
          users to write SQL queries, and the migration to a Rich-Text data
          format, involving an organization-wide plan for backwards and forwards
          compatibility contingencies.
        </p>
        <p class="body-large mt-4">
          The Visual SQL Query Builder was designed as a feature that would
          enable non-technical data stewards and consultants to design data
          quality rules on the
          <a
            href="https://www.syniti.com/solutions/data-governance/"
            class="primary-text underline hover:secondary-text"
          >
            Syniti Data Governance Platform (SKP)</a
          >. I developed a SQL parser/generator to read existing queries to
          populate the React NextJS UI for the various SQL clauses and
          dynamically generate new SQL queries after editing. This feature was
          successful in enabling non-technical users to build complex WHERE and
          JOIN clauses on their data.
        </p>
        <p class="body-large mt-4">
          The Rich Text data migration was a major initiative to integrate a new
          Rich Text editor into the UI and migrate tens of thousands of records
          of existing customer Markdown to a Rich Text format. First, I created
          components to render a Rich Text Editor and render the custom rich
          text format in the UI. Then, I designed a backwards compatibility
          layer with user input sanitization for transforming existing markdown
          records to the new rich text format when fetched from the server.
          Lastly, I created a migration process to roll out the new data format
          that allowed for all clients, internal and external, to handle
          backwards and forwards compatibility issues. Overall, the execution of
          the migration was seamless with a <0.01% error rate.
        </p>
        <p class="body-large mt-4">
          Additionally, I worked closely with the team to provide code reviews,
          feedback on system designs, and mentoring for new software engineers.
        </p>

        <div class="flex flex-wrap mt-6">
          {{ $tech := slice "Golang" "Javascript" "Typescript" "HTML" "CSS" "React" "NextJS" "NodeJS" "Docker" "Kubernetes" "Prometheus" "Grafana" "Git" }}
          {{ range $tech }}
            <span
              class="label-large secondary-container on-secondary-container-text px-2 py-1 rounded-lg mr-4 mt-2"
              >{{ . }}</span
            >
          {{ end }}
        </div>
      </div>

      <div class="surface-container-high rounded-[32px] p-6 md:p-12 mt-32">
        <h2 class="display-small">Knowtworthy</h2>

        <h3 class="headline-small mt-6">Software Developer and Co-Founder</h3>

        <div class="!font-light body-large on-surface-variant-text inline-flex">
          <span>Nov 2017 - Jun 2022</span><span class="px-2">•</span
          ><span>4 yr 8 mos</span>
        </div>

        <p class="body-large mt-4">
          <a
            href="https://knowtworthy.com/"
            class="primary-text underline hover:secondary-text"
          >
            Knowtworthy
          </a>
          is a Meetings Productivity tool for business professionals to aid in
          organizing, formatting, and sharing meeting minutes. My job at the
          company is primarily a Full Stack Software Developer. My
          responsibility are to build and maintain the Web App and Backend API.
          Additionally, I manage our Kubernetes Cluster on AWS.
        </p>
        <p class="body-large mt-4">
          When I joined the company, my focus was designing and building the
          Backend API in Node.js, Koa.js, and MongoDB and establishing
          infrastructure on AWS. Today, my responsibilities have expanded to the
          Frontend, other Backend Services, and the CI/CD systems. On the
          Frontend, I redesigned the Web App from scratch using our new design
          language, Typescript, and React Hooks. On top of the Backend API in
          Node.js, I authored our audio streaming server for realtime
          Speech-to-Text with Go, a design choice we made to improve the
          performance of our services. Lastly, I created our CI/CD system on
          Gitlab CI/CD to automate testing and quickly roll out updates to
          users.
        </p>
        <p class="body-large mt-4">
          My contributions on the AWS infrastructure and Kubernetes cluster are
          innumerable, but I will list a few notable ones. I setup the
          Kubernetes cluster on AWS to host all of our services, including but
          not limited to: the Backend API, Audio Streaming Server, and Audio
          Processor Workers. Additionally, this includes our staging environment
          for QA testing before releases. Using AWS CloudFront and AWS Load
          Balancers, I created a layered solution to distribute our Web App
          globally with minimal latency and failovers for our backend services.
          Finally, I setup Elasticsearch to offer a search service to our users
          and collect logs from our backend servers.
        </p>

        <div class="flex flex-wrap mt-6">
          {{ $tech := slice "Javascript" "Typescript" "HTML" "CSS" "React" "Websockets" "Gatsby.js" "Node.js" "Golang" "Docker" "Kubernetes" "Elasticsearch" "MongoDB" "AWS EC2" "AWS EKS" "AWS ECS" "AWS Cloudfront" "AWS S3" "AWS SQS" "AWS OpenSearch" "AWS X-Ray" "AWS Cloudwatch" "Google Text-to-Speech" "Git" "Gitlab CI/CD" }}
          {{ range $tech }}
            <span
              class="label-large secondary-container on-secondary-container-text px-2 py-1 rounded-lg mr-4 mt-2"
              >{{ . }}</span
            >
          {{ end }}
        </div>
      </div>

      <div class="surface-container-high rounded-[32px] p-6 md:p-12 mt-32">
        <h2 class="display-small">Bank of Montreal (BMO)</h2>

        <h3 class="headline-small mt-6">Software Developer Intern</h3>

        <div class="!font-light body-large on-surface-variant-text inline-flex">
          <span>May 2019 - Aug 2019</span><span class="px-2">•</span
          ><span>5 mos</span>
        </div>

        <p class="body-large mt-4">
          During my summer internship at
          <a
            href="https://www.bmo.com/"
            class="primary-text underline hover:secondary-text"
          >
            BMO
          </a>
          , I was tasked with designing and building the web frontend for a new
          Business Intelligence(BI) tool at the Bank. The tool was targeted at
          non-technical employees to help them draw up reports and better
          understand their data. Using the
          <a
            href="https://www.carbondesignsystem.com/"
            class="primary-text underline hover:secondary-text"
          >
            Carbon Design System
          </a>
          , I built the UI prototypes and pitched the design to management.
          Additionally, I built the web frontend with HTML, CSS, and jQuery on
          Microsoft&apos;s C# MVC.
        </p>
        <p class="md-body-large mt-4">
          When I wasn&apos;t working on the BI tool, I helped the Business
          Associates automate tedious tasks with Python scripts. My most
          impactful effort was a
          <a
            href="https://en.wikipedia.org/wiki/Regression_testing"
            class="primary-text underline hover:secondary-text"
          >
            regression analysis
          </a>
          tool to verify that new code changes to a legacy system were backwards
          compatible.
        </p>

        <div class="flex flex-wrap mt-6">
          {{ $tech := slice "Javascript" "jQuery" "HTML" "CSS" "Python" "C#" "MVC" "ElasticSearch" "Kibana" }}
          {{ range $tech }}
            <span
              class="label-large secondary-container on-secondary-container-text px-2 py-1 rounded-lg mr-4 mt-2"
              >{{ . }}</span
            >
          {{ end }}
        </div>
      </div>

      <div class="surface-container-high rounded-[32px] p-6 md:p-12 mt-32">
        <h2 class="display-small">BDM Trucks</h2>

        <h3 class="headline-small mt-6">Web Developer</h3>

        <div class="!font-light body-large on-surface-variant-text inline-flex">
          <span>Sep 2017 - Nov 2017</span><span class="px-2">•</span
          ><span>3 mos</span>
        </div>

        <p class="body-large mt-2">
          <a
            href="http://www.bdmtrucks.com/"
            class="primary-text underline hover:secondary-text"
          >
            BDM Trucks
          </a>
          is a commercial truck repair service in Manassas, VA that needed a new
          website. I built them a new website using HTML, CSS, and
          <a
            href="https://getbootstrap.com/"
            class="primary-text underline hover:secondary-text"
          >
            Bootstrap 4
          </a>
          . Additionally, I optimized the on-page SEO of their new website to
          draw more traffic from their local area.
        </p>

        <div class="flex flex-wrap mt-6">
          {{ $tech := slice "HTML" "CSS" "Boostrap 4" "Github Pages" }}
          {{ range $tech }}
            <span
              class="label-large secondary-container on-secondary-container-text px-2 py-1 rounded-lg mr-4 mt-2"
              >{{ . }}</span
            >
          {{ end }}
        </div>
      </div>

      <div class="surface-container-high rounded-[32px] p-6 md:p-12 mt-32">
        <h2 class="display-small">SBIRT</h2>

        <h3 class="headline-small mt-6">Software Developer</h3>

        <div class="!font-light body-large on-surface-variant-text inline-flex">
          <span>Oct 2015 - Dec 2016</span><span class="px-2">•</span
          ><span>1 yr 3 mos</span>
        </div>

        <p class="body-large mt-4">
          <a
            href="https://www.su.edu/pharmacy/"
            class="primary-text underline hover:secondary-text"
          >
            Shenandoah University&apos;s School of Pharmacy
          </a>
          needed a tool to collect data on drug abuse from local clinics in the
          Northern Virginia area. I built an iOS and Android app to assist their
          team in collecting reports from doctors and students in training.
          Later, the data collected went into research on drug abuse and
          intervention in the local area, potentially saving lives.
        </p>

        <div class="flex flex-wrap mt-6">
          {{ $tech := slice "Java" "Android" "Swift" "iOS" "GCP App Engine" "SQL" "MySQL" }}
          {{ range $tech }}
            <span
              class="label-large secondary-container on-secondary-container-text px-2 py-1 rounded-lg mr-4 mt-2"
              >{{ . }}</span
            >
          {{ end }}
        </div>
      </div>
    </main>

    {{ partial "footer.html" }}
  </body>
</html>
