<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}

  <body class="surface on-surface-text">
    {{ partial "header.html" . }}

    <main class="px-6 md:px-12 mb-24 md:mb-32 max-w-screen-2xl mx-auto">
      <div class="mx-6 my-24 md:my-32">
        <h1 class="display-large">Build a Simple Database</h1>
        <p class="headline-medium">
          Introductory tutorial to designing and building a LSM-Tree based Key-Value Store like
          RocksDB
        </p>
      </div>

      <div class="mt-24 md:mt-32">
        <h2 class="display-small">Posts</h2>

        <div class="grid gap-6 grid-cols-1 lg:grid-cols-12 mt-8">
          {{ range .Pages.ByDate }}
          <a href="{{ .Permalink }}" class="col-span-4">
            <div
              class="surface-container-high corner-extra-large-increased overflow-hidden h-full hover:surface-container-highest transition-colors duration-200"
            >
              <!-- prettier-ignore -->
              {{ $image := resources.Get .Params.image }}
              {{ $image = $image.Fill "1044x588 jpg q90 Center" }}
              {{ $avif348 := $image.Resize "348x avif" }}
              {{ $avif696 := $image.Resize "696x avif" }}
              {{ $avif1044 := $image.Resize "1044x avif" }}
              {{ $jpeg348 := $image.Resize "348x q80" }}
              {{ $jpeg696 := $image.Resize "696x q80" }}
              {{ $jpeg1044 := $image.Resize "1044x q80" }}
              <picture class="block">
                <source
                  type="image/avif"
                  srcset="{{ $avif348.Permalink }} 348w, {{ $avif696.Permalink }} 696w, {{ $avif1044.Permalink }} 1044w"
                  sizes="(min-width: 1024px) 33vw, calc(100vw - 48px)"
                />
                <img
                  class="w-full corner-extra-large-increased"
                  src="{{ $jpeg1044.Permalink }}"
                  srcset="{{ $jpeg348.Permalink }} 348w, {{ $jpeg696.Permalink }} 696w, {{ $jpeg1044.Permalink }} 1044w"
                  sizes="(min-width: 1024px) 33vw, calc(100vw - 48px)"
                  width="{{ $image.Width }}"
                  height="{{ $image.Height }}"
                  alt="{{ .Params.imageAlt }}"
                  loading="lazy"
                  decoding="async"
                />
              </picture>

              <div class="p-8">
                <p class="label-large">Article</p>
                <h3 class="headline-medium line-clamp-2">{{ .Title }}</h3>
                <p class="body-large mt-4 line-clamp-3">{{ .Params.description }}</p>
              </div>
            </div>
          </a>
          {{ end }}
        </div>
      </div>
    </main>

    {{ partial "footer.html" }}
  </body>
</html>
